---

---

<!-- ============================================ --><!--                    CTA                       --><!-- ============================================ -->
<section id="cta-262">
  <div class="cs-container">
    <div class="cs-left-section">
      <span class="cs-topper">Sizi Dinlemeye Hazırız</span>
      <h2 class="cs-title">İlk Adımı Atmaya Ne Dersiniz?</h2>
    
      <a href="" class="cs-button-solid">İlk Adımı At &gt;</a>
    </div>
    <div class="cs-content">
      <span class="cs-header">Çalışma Saatlerimiz</span>
      <p class="cs-p">
        Hafta içi her gün 09:00 - 17:00 arası hizmetinizdeyiz.
      </p>
      <p class="cs-p">
        Randevu almanızı tercih ederiz,<br/> ama direkt merkezimize de gelebilirsiniz.
      </p>
    </div>
    <picture class="cs-background">
      <source
        media="(max-width: 600px)"
        srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cloth-m.jpg"
      />
      <source
        media="(min-width: 601px)"
        srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cloth.jpg"
      />
      <img
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        src="https://csimg.nyc3.digitaloceanspaces.com/CTA/cloth.jpg"
        alt="appliance"
        width="275"
        height="132"
      />
    </picture>
  </div>
</section>
